#homeCard {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-right: 10%;
  width: 50%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#carouselFade .carousel-inner {
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#carouselFade .carousel-inner img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.inputText {
  height: 2rem;
}

.inputText::placeholder {
  font-size: 12px;
}

.inputSubject {
  min-height: 80px;
}

#contact-form > form {
    width: 80%;
}

#homeFormTitle a {
  text-decoration: underline dotted;
}

#footer {
  background-color: #1e4c66;
  color: white;
  text-align: center;
}

@media (max-width: 1080px) {
  #carouselFade .carousel-inner {
    align-items: start;
    height: 100%;
    width: 100%;
  }
  #homeCard {
    width: 60%;
  }
}

@media (max-width: 740px) {
  #homeCard {
    width: 78%;
  }

  #homeCard h1 {
    font-size: 1.5rem;
  }

  #homeCard p {
    font-size: 0.7rem;
  }

  #homeCard a {
    font-size: 0.7rem;
  }
}
